.player-grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 90px;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 3.4em;
}
.input-field{
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    cursor: pointer;
}
.input-field:hover {
    transform: scale(1.05);
  }